  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html,
  body {
      height: 100%;
  }

  body {
    background: linear-gradient(320deg, #fa4be0, #5e73fa);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  img {
      width: 150px;
      height: 150px;
      padding-bottom: 5px;
      border-radius: 100px;
  }
  
  #stopwatch {
      box-shadow: 2px 2px 3px 1px #ccc;
      border-radius: 10px;
      padding: 10px;
      background-color: rgb(133, 218, 226);
      text-align: center;
      width: 500px;
  }

  #stopwatch-name {
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px;
      padding: 10px;
      color: black;
      margin-left: 90px;
      margin-bottom: 5px;
      width: 300px;
      border-radius: 50px;
  }


  #timer {
      font-size: 40px;
      background-color: #000;
      padding: 10px;
      border-radius: 50px;
      color: #8FE1A2;
  }

  #controls {
      margin-top: 20px;
  }

  button {
      border: 0;
      padding: 10px 15px;
      margin: 5px 10px;
      border-radius: 5px;
      box-shadow: 2px 2px 3px 1px #ccc;
      cursor: pointer;
  }

  #button-start {
      background-color: #4535AA;
      color: white;
  }

  #button-stop {
      background-color: #FFB643;
      color: black;
  }

  #button-reset {
      background-color: #ED639E;
      color: white;
  }
